# Rename to .env and fill values
MONGO_URI="<your-mongodb-uri>"
JWT_SECRET="your_jwt_secret"
DEFAULT_ADMIN_EMAIL="adm@tmjapp.com.br"
DEFAULT_ADMIN_PASSWORD="Tmj@2026"
DEFAULT_ADMIN_NAME="Administrador TMJ"
DEFAULT_ADMIN_PHONE="+5500000000000"
MAIL_FROM="no-reply@yourdomain.com"
MAIL_USER="smtp_user"
MAIL_PASS="smtp_password"
GOOGLE_API_KEY="your_google_api_key"
ASAAS_API_KEY="your_asaas_api_key"
ASAAS_BASE_URL="https://api-sandbox.asaas.com/v3"
ASAAS_WEBHOOK_TOKEN="generate-a-random-token-at-least-32-chars"
ASAAS_WALLET_ID="a435bbfb-cd8a-41cd-bb2b-6a39ac377303"
DEFAULT_PAYMENT_PROVIDER="asaas"
AWS_ACCESS_KEY_ID="your_aws_access_key"
AWS_SECRET_ACCESS_KEY="your_aws_secret_key"
AWS_REGION="sa-east-1"
GCS_BUCKET_NAME="tmjapp-api-uploads"
SMS_MONTHLY_ALERT_THRESHOLD=1000
SWAGGER_ACCESS_CODE="your_swagger_access_code"
PORT=3000
