# Rename to .env and fill values
MONGO_URI="<your-mongodb-uri>"
JWT_SECRET="your_jwt_secret"
MAIL_FROM="no-reply@yourdomain.com"
MAIL_USER="smtp_user"
MAIL_PASS="smtp_password"
GOOGLE_API_KEY="your_google_api_key"
AWS_ACCESS_KEY_ID="your_aws_access_key"
AWS_SECRET_ACCESS_KEY="your_aws_secret_key"
AWS_REGION="sa-east-1"
SMS_MONTHLY_ALERT_THRESHOLD=1000
SWAGGER_ACCESS_CODE="your_swagger_access_code"
PORT=3000
